@model IEnumerable<massive_infinity.Data.Entities.Employee>

@{ 
    String temp = ViewData["ID"].ToString();
    Guid ID = Guid.Parse(temp);
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { ID = item.ID.ToString() })
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new { ID = item.ID.ToString() })
            </td>
        </tr>
        }
    </tbody>
</table>


<a asp-action="NewEmployee" asp-route-ID=@ID>
    Insert New Employee
</a>